<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="个人博客">
    <meta name="author" content="Coderthemes">
    <link rel="shortcut icon" th:href="@{/portal/images/favicon.ico}">
    <title>MoonlightL 后台管理界面</title>

    <link th:href="@{/admin/assets/plugins/sweetalert/dist/sweetalert.css}" rel="stylesheet" type="text/css">

    <link th:href="@{/admin/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/assets/css/core.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/assets/css/icons.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/assets/css/components.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/assets/css/pages.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/assets/css/responsive.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/assets/css/animate.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/assets/plugins/waves/waves.min.css}" rel="stylesheet" >
    <link th:href="@{/admin/assets/plugins/bootstrap-toggle/css/bootstrap-toggle.css}" rel="stylesheet">
    <link th:href="@{/admin/assets/plugins/editormd/css/editormd.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js} IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js} doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js}/1.3.0/respond.min.js}"></script>
    <![endif]-->

</head>
<body>
    <br>
    <div class="container">
        <div class="row  animated fadeIn">
            <div class="panel panel-color panel-primary">
                <input type="hidden" id="id" name="id">
                <div class="panel-heading">
                    <h3 class="panel-title">关于我</h3>
                </div>
                <div class="panel-body">
                    <div class="row" id="editorContainer"></div>
                    <div class="row text-center m-t-30">
                        <div class="col-md-2">
                            <label class="control-label">是否显示</label>
                            <input id="showStatus" name="showStatus" type="checkbox" checked data-toggle="toggle" data-on="是" data-off="否" data-onstyle="success">
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-6 text-right">
                            <button type="button" class="btn btn-primary waves-effect waves-light" id="submitBtn">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script th:src="@{/admin/assets/js/jquery.min.js}"></script>
    <script th:src="@{/admin/assets/plugins/editormd/editormd.min.js}"></script>
    <script th:src="@{/admin/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/admin/assets/plugins/waves/waves.min.js}"></script>
    <script th:src="@{/admin/assets/plugins/sweetalert/dist/sweetalert.min.js}"></script>
    <script th:src="@{/admin/assets/plugins/bootstrap-toggle/js/bootstrap-toggle.js}"></script>
    <script th:src="@{/admin/js/util.js}"></script>
    <script th:src="@{/admin/js/aboutMe.js}"></script>
</body>
</html>