<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="MoonlightL">

        <link rel="shortcut icon" th:href="@{/admin/assets/images/favicon_1.ico}">

        <title>登录界面</title>
        <link th:href="@{/admin/assets/plugins/sweetalert/dist/sweetalert.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/admin/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/admin/assets/css/core.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/admin/assets/css/icons.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/admin/assets/css/components.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/admin/assets/css/pages.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/admin/assets/css/menu.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/admin/assets/css/responsive.css}" rel="stylesheet" type="text/css">
        <script th:src="@{/admin/assets/js/modernizr.min.js}"></script>
    </head>
    <body>


        <div class="wrapper-page">
            <div class="panel panel-color panel-primary panel-pages">
                <div class="panel-heading bg-img"> 
                    <div class="bg-overlay"></div>
                    <h3 class="text-center m-t-10 text-white"> 登录 <strong>后台管理</strong> </h3>
                </div> 


                <div class="panel-body">
                <form class="form-horizontal m-t-20" id="loginForm">
                    
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control input-lg" type="text" placeholder="用户名" id="username" name="username">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control input-lg" type="password" placeholder="密码" id="password" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-8">
                            <input class="form-control input-lg" type="text" placeholder="验证码" id="captcha" name="captcha">
                        </div>
                        <div class="col-xs-4">
                            <img src="/admin/captcha.jpg" alt="验证码" id="changeBtn" style="cursor:pointer">
                        </div>
                    </div>

                    <!--<div class="form-group">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-primary">
                                <input  type="checkbox" id="rememberMe" name="rememberMe">
                                <label for="rememberMe">
                                    记住我
                                </label>
                            </div>
                            
                        </div>
                    </div>-->
                    
                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-lg w-lg waves-effect waves-light" type="button" id="loginBtn">登录</button>
                        </div>
                    </div>

                   <!-- <div class="form-group m-t-30">
                        <div class="col-sm-12 text-center">
                            <a href="javascript:void(0)"><i class="fa fa-lock m-r-5"></i> 忘记密码?</a>
                        </div>
                    </div>-->
                </form> 
                </div>                                 
                
            </div>
        </div>


    	<script>
            var resizefunc = [];
        </script>

        <!-- Main  -->
        <script th:src="@{/admin/assets/js/jquery.min.js}"></script>
        <script th:src="@{/admin/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/admin/assets/plugins/sweetalert/dist/sweetalert.min.js}"></script>
        <script th:src="@{/admin/js/login.js}"></script>
	</body>
</html>