<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{portal/layout}">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title th:text="${#servletContext.getAttribute('paramMap')['blogName']}">个人博客</title>
	<meta name="description" th:content="${#servletContext.getAttribute('paramMap')['description']}" />
	<meta name="keywords" th:content="${#servletContext.getAttribute('paramMap')['keywords']}" />
</head>

<body class="home blog custom-background round-avatars">

	<div id="main" class="content" layout:fragment="content">
		<div class="container">
			<section class="post_content" itemscope itemtype="http://schema.org/Article">
				<header class="post_header">
					<h1 class="post_title">归档([[${count}]])</h1>
				</header>
				<div class="post-Archive">
					<div id="archives">
						<div class='archive-title' th:id="'arti-'+${map.key}" th:each="map : ${archiveMap}">
							<h3>[[${map.key}]]</h3>
							<div class='archives archives-12'>
								<div class="brick" th:each="vo : ${map.value}">
									<a th:href="@{'/'+${vo.postUrl}}"><span class="time">[[${#dates.format(vo.publishDate, 'MM-dd')}]]</span>[[${vo.title}]]</a>
								</div>
							</div>
						</div>
						<div class='archive-title' th:if="${count == 0}">
							<div style="text-align:center;">
								~~作者偷懒，没有发表文章~~
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>

</html>