<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="width: 600px; text-align: left; margin: 0 auto;">
    <div style="border-bottom: 5px solid #005da7; height: 2px; width: 100%;"></div>
    <div style="border: 1px solid #005da7; font-size: 16px; line-height: 50px; padding: 20px;">
        <p th:text="${content}"></p>
        <div>
            想了解更多信息，请访问 <a href="https://www.extlight.com">https://www.extlight.com</a>
        </div>
    </div>
</div>
</body>
</html>