/* 内容区响应式 */
@media (min-width: 768px) {
    #content {padding-left: 0;}
}
@media (min-width: 992px) {
    #content {padding-left: 0;}
}
@media (min-width: 1280px) {
    #content {padding-left: 268px;}
}
#content {height: 100%; padding-right: 0; transition: all;}

/* 内容区 */
.container, .container-fluid{height:100%;padding:0;}
@media (min-width: 1280px) {
    #content:not(.content-alt) {padding-left: 268px;padding-right: 0}
}
@media (min-width: 768px) and (max-width:1279px) {
    #content {padding-left: 0;padding-right: 0}
}
@media (min-width: 992px) {
    .container {width:100%}
}
@media (min-width: 1200px) {
    .container {width:100%}
}
#content {height: 100%;}

/* 选项卡 */
.content_tab{width:100%;height:48px;overflow:hidden;}
.content_tab>ul{padding:0;font-size:0;display:block;white-space:nowrap;-webkit-overflow-scrolling:touch;overflow-x:scroll;}
.scroll>ul{margin:0 40px;}
.scroll>.tab_left,.scroll>.tab_right{display:block;}
.tab_left,.tab_right{width:40px;height:48px;line-height:48px;color:#fff;text-align:center;display:none;}
.tab_left{float:left;margin-right:-40px;}
.tab_right{float:right;margin-left:-40px;}
.tab_left>a,.tab_right>a{display:block;width:100%;color:rgba(255, 255, 255, 0.5);font-size:22px;}
.tab_left>.active,.tab_right>.active{color:#fff;}
.content_tab{position:relative;}
.content_tab>ul>li{display:inline-block; height: 48px; line-height: 48px; margin:0; font-size:14px;}
.content_tab>ul>li>a{display:block; height: 48px; line-height: 48px;color:#6e8cd7;padding:0 28px;transition:background-color .35s cubic-bezier(.35,0,.25,1);border-bottom:none;position: relative;}
.content_tab>ul>li>a:active{background:rgba(255, 255, 255, 0.1);}
.content_tab>ul>.cur>a{}
.content_tab>ul>li>a:after{content:"";position:absolute;bottom:0;left:50%;right:50%;width:0;border-bottom:3px solid #6e8cd7;transition:all linear .2s}
.content_tab>ul>.cur>a:after{left:0;bottom:1px;width:100%;opacity:1;transition:all linear .2s}

.content_main{height:calc(100% - 48px);-webkit-overflow-scrolling:touch;}
.content_main>.cur{display:block;}
.iframe{height:100%;display:none;}